In [2]:
# load libraries
from libraries import *

In [3]:
# load data
investor_data_load = pd.read_csv(os.path.join(project_path, 'investor_data_2.csv'))

In [4]:
# data variable backup 
investor_data = investor_data_load

In [5]:
investor_data.head(3)

,investor,commit,deal_size,invite,rating,int_rate,covenants,total_fees,fee_share,prior_tier,invite_tier,tier_change,fee_percent,invite_percent
0,Goldman Sachs,Commit,300,40,2,Market,2,30,0.0,Participant,Bookrunner,Promoted,0.000000,0.133333
1,Deutsche Bank,Decline,1200,140,2,Market,2,115,20.1,Bookrunner,Participant,Demoted,0.174783,0.116667
2,Bank of America,Commit,900,130,3,Market,2,98,24.4,Bookrunner,Bookrunner,NaN,0.248980,0.144444

In [6]:
# drop invite_tier, fee_share, invite

investor_data = investor_data.drop(['invite_tier', 'fee_share', 'invite'], axis=1)
investor_data.shape

(7233, 11)

# Dummy Variables

In [7]:
investor_data = pd.get_dummies(investor_data)
investor_data.shape

(7233, 20)

In [8]:
investor_data.head(3)

,deal_size,rating,covenants,total_fees,fee_percent,invite_percent,investor_Bank of America,investor_Deutsche Bank,investor_Goldman Sachs,investor_MUFG Union,investor_Wells Fargo,commit_Commit,commit_Decline,int_rate_Above,int_rate_Below,int_rate_Market,prior_tier_Bookrunner,prior_tier_Participant,tier_change_Demoted,tier_change_Promoted
0,300,2,2,30,0.000000,0.133333,False,False,True,False,False,True,False,False,False,True,False,True,False,True
1,1200,2,2,115,0.174783,0.116667,False,True,False,False,False,False,True,False,False,True,True,False,True,False
2,900,3,2,98,0.248980,0.144444,True,False,False,False,False,True,False,False,False,True,True,False,False,False

In [9]:
# 'commit_Commit' and 'commit_Decline' are mirror images of each other, can drop one column

investor_data = investor_data.drop('commit_Commit', axis=1)
investor_data.head(3)

,deal_size,rating,covenants,total_fees,fee_percent,invite_percent,investor_Bank of America,investor_Deutsche Bank,investor_Goldman Sachs,investor_MUFG Union,investor_Wells Fargo,commit_Decline,int_rate_Above,int_rate_Below,int_rate_Market,prior_tier_Bookrunner,prior_tier_Participant,tier_change_Demoted,tier_change_Promoted
0,300,2,2,30,0.000000,0.133333,False,False,True,False,False,False,False,False,True,False,True,False,True
1,1200,2,2,115,0.174783,0.116667,False,True,False,False,False,True,False,False,True,True,False,True,False
2,900,3,2,98,0.248980,0.144444,True,False,False,False,False,False,False,False,True,True,False,False,False

In [10]:
investor_data.to_pickle('investor_data_step_1.pkl')